@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
  margin: 0px;
  background-color: #5A5B5D !important;
}
header{
  background-color: #E8E8E8;
  padding-top: 10px;
  padding-left: 10px;
}
main{
  padding: 10px;
  margin-top: 45px;
}
main,footer{
  float:left;
  width:100%;
}
footer{
  padding: 7px;
  background: #333;
  margin-top: 10px;
  color: #fff;
}
.ui.card, .ui.cards >.card {
  width: inherit !important;
}
.topnav li.icon {
  color: #fff;
}