.topnav {
  overflow: hidden;
  background-color: #333;
  padding:0px;
  margin:0px;
  position: absolute;
  width: 100%;
  z-index: 1000;
}
.topnav li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
}
.topnav li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
.topnav li:hover {
  background-color: #ddd;
  cursor: pointer;
}
.topnav li:hover a{
  color: black;
}
.topnav .icon {
  display: none;
}

/*iPad in portrait & landscape*/
@media only screen and (max-width: 768px){
  .topnav li:not(:first-child) {display: none;}
  .topnav .icon {
    float: right;
    display: block !important;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}