.layout--twocol {
  width:100%;
  float:left;
}

.layout--twocol > .layout-region--left {
  width:79%;
  float:left;
}

.layout--twocol > .layout-region--right {
  width:20%;
  float:right;
}

/*iPad in portrait & landscape*/
@media only screen 
and (max-width: 768px){
  .layout--twocol{
    display:flex; 
    flex-direction: column;
  }
  .layout--twocol > .layout-region--left, .layout--twocol > .layout-region--right{
    width:100%;
    float:none;
  }
  .layout--twocol > .layout-region--left {
    order: 2;
    margin-top: 15px;
  }
  .layout--twocol > .layout-region--right{
    order: 1;
  }
}